<<html>
    <head>
        <title>Sarfaraz's Code blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sarfaraz's Code blog</a></h1>
        </div>

        <div>
          <br>
            <p>published: 14.05.2019, 11:16 PM HKT</p>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to Django world</p>
        </div>

        <div>
            <br>
            <p>published: 14.05.2019, 11:16 PM HKT</p>
            <h2><a href="">My second post</a></h2>
            <p>We learn Django together.</p>
        </div>
    </body>
</html>
